.social-links-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--color-secondary-background);
  padding: 30px;
  margin: 10px;
  color: white;
  width: 100%;
  max-width: var(--card-max-width);
  border-radius: 16px;

  .avatar-image {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .name {
    font-size: 20px;
  }

  .city {
    color: var(--color-green);
    font-size: 12px;
    margin-bottom: 20px;
  }

  .motto {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.695);
    margin-bottom: 10px;
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .link {
      background-color: var(--color-tertiary-background);
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 15px;
      border-radius: var(--radius-8);
      font-size: 14px;

      &:hover {
        background-color: var(--color-green);
        color: var(--color-primary-background);
      }
    }
  }
}