.social-links-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-10);
  background-color: var(--color-secondary-background);
  padding: var(--space-30);
  margin: var(--space-10);
  color: var(--color-white);
  width: 100%;
  max-width: var(--card-max-width);
  border-radius: var(--radius-16);

  .avatar-image {
    width: var(--space-70);
    border-radius: 50%;
    margin-bottom: var(--space-20);
  }

  .name {
    font-size: var(--size-20);
  }

  .city {
    color: var(--color-green);
    font-size: var(--size-12);
    margin-bottom: var(--space-20);
  }

  .motto {
    font-size: var(--size-14);
    color: var(--color-white-opacity);
    margin-bottom: var(--space-10);
    text-align: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
    width: 100%;

    .link {
      background-color: var(--color-tertiary-background);
      text-align: center;
      color: var(--color-white);
      text-decoration: none;
      padding: var(--space-15);
      border-radius: var(--radius-8);
      font-size: var(--size-14);

      &:hover {
        background-color: var(--color-green);
        color: var(--color-primary-background);
      }
    }
  }
}