.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-primary-background);
  font-family: var(--font-family);
  
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: var(--color-white);
    font-size: var(--size-24);
    font-weight: var(--font-semibold);
  }
}